<div class="download-buttons">
  <a href="https://github.com/{{ site.github_username }}/codirigent/releases/download/v{{ site.version }}/codirigent-v{{ site.version }}-x86_64-pc-windows-msvc.msi"
     class="btn btn-primary"
     download>
    📥 Download for Windows
    <small>.msi installer</small>
  </a>

  <a href="https://github.com/{{ site.github_username }}/codirigent/releases/download/v{{ site.version }}/codirigent-v{{ site.version }}-aarch64-apple-darwin.dmg"
     class="btn btn-primary"
     download>
    🍎 Download for macOS
    <small>.dmg</small>
  </a>
</div>
