<footer>
  <div class="container">
    <div class="footer-links">
      <a href="https://github.com/{{ site.github_username }}/codirigent/blob/main/LICENSE" target="_blank" rel="noopener">
        GPL-3.0 License
      </a>
      <span>|</span>
      <a href="https://github.com/{{ site.github_username }}/codirigent" target="_blank" rel="noopener">
        View on GitHub
      </a>
      <span>|</span>
      <span>Version {{ site.version | default: "0.1.0" }}</span>
    </div>
  </div>
</footer>
